<div class="container minion-game" data-game="<%= @minion.game.id %>">
    <div class="row">
      <div class="col-sm-5">
        <h1 class="title1 text-center">Wizard Image</h1>
      </div>
      <div class="col-sm-7">
        <div class="text-center">
          <h1 class="title1"> YOUR TURN IS <%= @minion.position %></h1>
          <h2 class="subtitle"><%= @fake_words[0].name %></h2>
          <h2 class="subtitle"><b><%= @minion.game_word.word.name %></b></h2>
          <h2 class="subtitle"><%= @fake_words[1].name %></h2>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= caesar_print 2 %>
          </div>
        </div>
      </div>
    </div>
</div>
