<div class="container minion-game" data-game="<%= @minion.game.id %>">
    <div class="row">
        <div class="col-sm-12">
            <%= caesar_print 2 %>
        </div>
    </div>
    <div class="visible-xs">
      <div class="row">
        <div class="col-xs-6">
          <div class="text-center">
            <%= image_tag "minion_small.png", class: "small-minion" %>
            <!--<img src="http://placehold.it/150x150?text=MinionImg" alt="" class="img-responsive player-gif-img">-->
          </div>
        </div>
        <div class="col-xs-6">
          <h1 class="title1 turn-name text-center"> Turn <%= @minion.position %></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="text-center">
            <h2 class="word-text"><%= @fake_words[0].name %></h2>
            <h2 class="word-text aqua"><b><%= @minion.game_word.word.name %></b></h2>
            <h2 class="word-text"><%= @fake_words[1].name %></h2>
          </div>
        </div>
      </div>
    </div>
    <div class="hidden-xs">
      <div class="row">
        <div class="col-sm-5">
          <div class="text-center">
            <%= image_tag "minion_big.png" %>
            <!--<img src="http://placehold.it/450x450?text=MinionImg" alt="" class="img-responsive player-gif-img">-->
          </div>
        </div>
        <div class="col-sm-7">
          <div class="text-center">
            <h1 class="title1"> Turn: <%= @minion.position %></h1>

            <h2 class="word-text"><%= @fake_words[0].name %></h2>
            <h2 class="word-text aqua"><b><%= @minion.game_word.word.name %></b></h2>
            <h2 class="word-text"><%= @fake_words[1].name %></h2>
          </div>
        </div>
      </div>
    </div>

</div>
