<div class="container welcome">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title1 text-center">Invite your minions!</h1>
    </div>
  </div>
  <div class="row">
    <% @game.minions.each do |minion| %>
      <div class="col-sm-6 col-md-4 text-center plank">
        <div class="row">
          <div class="col-sm-5 col-sm-offset-2">
            <h3><%= "Turno #{minion.position}"%></h3>
            <h3><%= "#{minion.name}"%></h3>
          </div>
          <div class="col-sm-3 minion-code">
            <h3><%= "code"%></h3>
            <h3><%= "#{minion.id}"%></h3>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <br><br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <input type="text" class="clear-style minions text-center start-input" data-url="<%= game_show_url(@game)%>"></input>
    </div>
  </div>
  <div class="row tip">
    <div class="col-sm-12 text-center">
      Ready? type 'start' then 'enter'
    </div>
  </div>
</div>
