<div class="container background-result">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="title1">Summon ready!</h1>
    </div>
  </div>
  <div class ="row">
    <div class="col-sm-6">
      <% if @player_score_percentage.round() <= 0 %>
          <%= image_tag 'potato.gif', class:'potato img-responsive' %>
      <% elsif @player_score_percentage.round() > 0 && @player_score_percentage.round() <= 60 %>
          <%= image_tag 'fairy.gif', class:'slime img-responsive' %>
      <% elsif @player_score_percentage.round() > 60 && @player_score_percentage.round() <= 100 %>
          <%= image_tag 'fairy.gif', class:'monster img-responsive' %>
      <% end %>
    </div>
    <div class="col-sm-6 text-center">
      <h2 class="title2"> Your spell was <%= @player_score_percentage.round() %>% accurate.</h2>
      <h3 class="title3"> Finished in <%=@game.time%> secs </h3>
      <h2 class="title2">
        <% if @player_score_percentage.round() <= 0 %>
          <div class="feedback">Are you even trying!?</div>
          <h3> You have summoned: Last minute potato</h3>
        <% elsif @player_score_percentage.round() > 0 && @player_score_percentage.round() <= 60 %>
          <div class="feedback">Nice try.</div>
          <h3> You have summoned: Sad Goo!</h3>
        <% elsif @player_score_percentage.round() > 60 && @player_score_percentage.round() <= 100 %>
          <div class="feedback">COOOL!!!</div>
          <h3> You have summoned: Hope</h3>
        <% end %>
      </h2>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <h3 class="text-center play-again">Press 'enter' to play again.</h3>
      <%= link_to "Try again", root_path, class:"hide result-back-button" %>
    </div>
  </div>
</div>
